
.box{
    background-color:#999;
    width:100px;
	height:100px;
	margin:10px;
	border-radius:5px;
	box-shadow:inset 2px 1px 4px 1px rgba(0,0,0,0.2);
	font:87.5%/1.4 HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
}
